
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../../../node_modules/materialize-css/sass/materialize";


.TestForm{
	blockquote{
		margin: 4rem;
	}
	.input-field{
		padding-bottom: 4rem;
		border-bottom: 1px solid #333333;
		em{
			font-style: normal;
			margin-right: 2rem;
		}
	}
}